---
layout: default
---
<div class="row">
    <div class="col-12 col-lg-8 col-xl-9">
        <h1 class="mb-4">
            CURRÍCULUM VITAE
            <button class="btn btn-default text-muted float-right"><i class="fa fa-download"></i> Descargar PDF</button>
        </h1>
        
        {% for section in site.data.curriculum %}
        <section id="{{section.slug}}" class="mb-5">
            <h3 class="text-uppercase"><strong>{{ section.name }}</strong></h3>
            <hr>
            {% for item in section.items %}
            <div>
                <span class="float-right"><i>{{ item.from }} {% if item.to %}-{% endif %} {{ item.to }}</i></span>
                <h4>{{ item.title }}</h4>
                <h5 class="text-muted">{{ item.subtitle }}</h5>
                <p>{{ item.description }}</p>
            </div>
            {% endfor %}
        </section>
        {% endfor %}
    </div>
    <div class="col-lg-4 col-xl-3 d-md-none d-lg-block">
        <ul id="curriculum-nav" class="nav flex-column border border-primary rounded sticky-top">
            {% for section in site.data.curriculum %}
            <li id="{{section.slug}}-nav-link" class="nav-item p-2 {% if forloop.index == 1 %} active {% endif %}">
                <a class="nav-link" href="#{{section.slug}}">{{section.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
        $('#curriculum-nav .nav-item').click(
            function (e) {
                $('#curriculum-nav .nav-item').removeClass('active');
                $(e.currentTarget).addClass('active');
            }
        );

        var sections = [];
        var sectionsElems = $('section');
        for (let i = 0; i < sectionsElems.length; i++) {
            let id = $(sectionsElems[i]).attr('id');
            let startsAt = $(sectionsElems[i]).offset().top;
            let endsAt = startsAt + $(sectionsElems[i]).height();
            sections.push({
                id,
                startsAt,
                endsAt
            });
        }
        console.log(sections);

        $(window).on('scroll', function () {
            // console.log($(`#cursos`).offset().top - $(window).scrollTop() <= 36)
            sections.forEach(section => {
                // console.log(section.startAt);
                if(section.startsAt <= $(window).scrollTop() && $(window).scrollTop() <= section.endsAt) {
                    $('#curriculum-nav .nav-item').removeClass('active');
                    $(`li#${section.id}-nav-link`).addClass('active');
                }
            });

            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                $('#curriculum-nav .nav-item').removeClass('active');
                $(`li#${sections[sections.length - 1].id}-nav-link`).addClass('active');
            }
        });

    </script>